.service__item {
  padding: 20px;
  background: var(--card-bg-01);
  /* height: 7rem;
  width: 18rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.service__item span i {
  font-size: 2.2rem;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400 !important;
}

.service__item div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.service__item div h3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: auto;
  margin-bottom: auto;
}
.service__item div p {
  margin-top: 0.3rem;
  margin-bottom: auto;
  line-height: 20px;
  color: #222;
}

.service__item h3 {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width :1200px){
  .service__item {
    padding: 15px;
    width: 230px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width :767px){
  .service__item {
    padding: 15px;
    width: auto;
    margin-bottom: 1.5rem;
  }
}