.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.logo img {
  width: 1.5rem;
  height: 1.5rem;
}
.logo h1 {
  margin-left: 0px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: #ffffffb6;
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: #ffffffb6;
}
.footer__quick-links ul li a:hover {
    color: #ffffffb6;
  }

.quick__links-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
  color: #ffffffb6;
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p{
    font-size: .9rem;
}

.footer-item {
  color: var(--primary-color);
}

.footer-item:hover {
  color: inherit;
}

.footer__copyright{
    color: #ffffffb6;
    font-size: .9rem;
    margin-top: 50px;
    text-align: center;
}